@model IPagedList<PagingAndSorting.Entities.EmployeeMaster>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.SalarySortParam">Salary</a>
            </th>
            <th>Phone Number</th>
            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Name</td>
                <td>@emp.Salary.ToString("C")</td>
                <td>@emp.PhoneNumber</td>
                <td>@emp.Email</td>

            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @Html.PagedListPager(
            Model,
            page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }),
            new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    }
)
</div>
