@model IPagedList<PagingAndSorting.Entities.EmployeeMaster>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Salary</th>
            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Name</td>
                <td>@emp.PhoneNumber</td>
                <td>@emp.Salary</td>
                <td>@emp.Email</td>

            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @Html.PagedListPager(
            Model,
            page => Url.Action("Index", new { page }),
            new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    }
)
</div>
